.about-details {
  color: var(--blue3);
  min-height: calc(100dvh - 524px);
  section {
    width: 100%;
    padding: 2rem;
  }
}

.go-back-btn {
  display: flex;
  gap: 0.5rem;
  color: var(--blue3);
  align-items: center;
  h1 {
    font-size: var(--smallFontSize);
  }
}

.content {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.line {
  width: 100px;
  height: 5px;
  background-color: var(--accent-yellow);
}

.header {
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;

    @media (max-width: 700px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2rem;
    }

    .title {
      .img-side {
        max-width: 450px;
        width: 100%;
        height: 450px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .context {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .member-details {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        color: var(--secondary-blue);

        @media (max-width: 700px) {
          align-items: center;
          flex-direction: column;
        }
        h1 {
          font-size: var(--largeFontSize);

          @media (max-width: 700px) {
            text-align: center;
          }
        }
      }
      p {
        font-size: var(--smallFontSize);
        text-align: justify;

        @media (max-width: 700px) {
          text-align: center;
        }
      }
    }
  }
}
