.blog {
  color: var(--blue3);
  section {
    width: 100%;
    padding: 2rem;
  }
}

.content {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.header {
  .title {
    font-size: var(--largeFontSize);
    color: var(--blue3);
    padding: 2rem 0 0;
  }
}

.blogs {
  .content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
