.services {
  color: var(--blue3);
  section {
    width: 100%;
    padding: 2rem;
  }
}
.content {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.line {
  width: 100px;
  height: 5px;
  background-color: var(--accent-yellow);
}

.header {
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 700px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2rem;
    }

    .title {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      @media (max-width: 700px) {
        align-items: center;
        flex-direction: column;
      }
      h1 {
        font-size: var(--largeFontSize);

        @media (max-width: 700px) {
          text-align: center;
        }
      }
    }

    p {
      font-size: var(--smallFontSize);

      @media (max-width: 700px) {
        text-align: center;
      }
    }
  }
}
