.content {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  & > .title {
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    color: var(--secondary-blue);
    text-transform: uppercase;
  }
}

.welcome-section {
  width: 100%;
  padding: 2rem;
  background-image: url("../assets/imgs/heroSection.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;

  .black-background {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .welcome-content {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    height: calc(100dvh - 198px);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;

    .greeting {
      color: var(--secondary-blue);
      font-size: 2rem;

      @media (max-width: 560px) {
        font-size: 1.5rem;
      }

      @media (max-width: 360px) {
        font-size: 0.85rem;
      }
    }

    .bank-name {
      font-size: 4rem;
      max-width: 500px;
      width: 100%;
      color: var(--white);

      @media (max-width: 560px) {
        font-size: 2.5rem;
      }

      @media (max-width: 360px) {
        font-size: 1.5rem;
      }
    }

    .buttons {
      display: flex;
      gap: 2rem;
      align-items: center;
      font-size: 1.3rem;

      a {
        cursor: pointer;
      }

      .router-link {
        color: var(--red);
      }
    }
  }
}

.about-section {
  width: 100%;
  padding: 4rem 2rem 2rem;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  background-color: var(--white);

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;

    @media (max-width: 700px) {
      grid-template-columns: 1fr;
    }

    .img-side {
      height: 450px;
      max-width: 500px;
      width: 100%;
      margin: 0 auto;
      overflow: hidden;
      border-radius: var(--borderRadius);

      @media (max-width: 700px) {
        height: 300px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .text-side {
      @media (max-width: 700px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
      }

      h1 {
        margin-top: 1rem;
        font-size: 2rem;
        margin-bottom: 2rem;
        color: var(--secondary-blue);

        @media (max-width: 700px) {
          text-align: center;
        }
      }

      p {
        font-size: 1.2rem;
        max-width: 450px;
        width: 100%;
        letter-spacing: 1px;
        font-weight: 400;
        margin-bottom: 1rem;

        @media (max-width: 700px) {
          text-align: center;
          margin: 0 auto;
        }
      }
    }
  }
}

.company-values {
  width: 100%;
  padding: 2rem;

  .content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .mission-vision {
      div {
        .title {
          font-size: 1.7rem;
          text-align: center;
          color: var(--red);
        }

        .subtitle {
          text-align: center;
          color: var(--text-dark);
          margin-top: 1rem;
        }
        ul {
          color: var(--text-dark);
          padding-left: 1rem;
          margin-top: 1rem;
        }
      }
    }
  }
}

.our-products {
  width: 100%;
  padding: 2rem;
  background-color: var(--blue3);
  color: var(--white);

  .content {
    display: grid;
    gap: 1rem;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: 700px) {
      grid-template-columns: repeat(1, 1fr);
      gap: rem;
    }
    .left-section {
      .details {
        display: flex;
        justify-content: right;
        flex-direction: column;
        gap: 1rem;
        width: 100%;

        .title {
          font-size: 1.2rem;
          color: var(--white);
          text-align: right;
          @media (max-width: 700px) {
            text-align: center;
          }
        }
        .subtitle {
          text-align: right;
          @media (max-width: 700px) {
            text-align: center;
          }
        }

        .button-container {
          display: flex;
          justify-content: right;
          @media (max-width: 700px) {
            justify-content: center;
          }
        }

        .button {
          background: var(--primary-blue);
          color: var(--white);
          padding: 1rem;
          display: block;
          width: fit-content;
          font-weight: 700;
          text-decoration: none;
          border-radius: var(--borderRadius);

          &:hover {
            background: var(--hoverBlue);
          }
        }
      }
    }

    .right-section {
      width: 100%;
      padding: 0 1rem;
      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @media (max-width: 700px) {
          align-items: center;
        }

        li {
          display: flex;
          align-items: center;
          gap: 1rem;

          @media (max-width: 700px) {
            flex-direction: column;
          }
        }
      }
    }
  }
}

.testimonials {
  width: 100%;
  padding: 2rem;

  .content {
    .title {
      text-align: center;
      font-size: 1.7rem;
      margin-bottom: 1rem;
    }
  }
}

.gallary {
  width: 100%;
  padding: 2rem;

  .content {
    .title {
      text-align: center;
      font-size: 1.7rem;
      margin-bottom: 1rem;
    }

    .splide {
      .img-container {
        height: 200px;
        border-radius: var(--borderRadius);
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
