* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue: ;
  --white: #ffffff;
  --red: #ff0000;
  --dark-red: #b30000;
  --light-red: #ff6666;
  --black: #161515;
  --gray: #d3d3d3;
  --gray2: #808080;
  --light-gray: #f2f2f2;
  --green: #008000;
  --dark-green: #006400;
  --light-green: #90ee90;
  --borderRadius: 0.7rem;
  --boxShadow: 22px 26px 18px -26px rgba(0, 0, 0, 0.09);
  --primary-blue: #007bff;
  --secondary-blue: #0f3661;
  --blue3: #0d2034;
  --hoverBlue: #4c84f0;
  --accent-yellow: #ffc107;
  --background-light: #f9fafb;
  --text-dark: #212529;
  --text-light: #ffffff;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf");
}

body {
  color: var(--black);
  font-family: "SpaceGrotesk", sans-serif;
}
