* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --borderRadius: 0.5rem;
  --boxShadow: 22px 26px 18px -26px rgba(0, 0, 0, 0.09);
  --primary-blue: #007bff;
  --secondary-blue: #0f3661;
  --blue3: #0d2034;
  --hoverBlue: #4c84f0;
  --accent-yellow: #ffc107;
  --background-light: #f9fafb;
  --text-dark: #212529;
  --text-light: #ffffff;
  --gray: #d3d3d3;
  --largeFontSize: 2rem;
  --mediumFontSize: 1.55rem;
  --smallFontSize: 1.05rem;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf");
}

body {
  color: var(--black);
  font-family: "SpaceGrotesk", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--white);
}
